section {
    width: 1440px;
    height: 689px;
    display: flex;
    justify-content: center;
    padding: 129px 20px 129px 20px;
    gap: 20px;
}

.imagem-da-obra {
    display: flex;
    justify-content: flex-start;
    align-items: flex-end;
    position: relative;
}

p {
    display: flex;
    position: absolute;
    color: #FFF;
    font-family: "Public Sans";
    padding: 26px;
    margin-bottom: 68px;
}

.obra {
    top: 200px;
    font-size: 30px;
    font-weight: 700;
    margin-top: 360px;
}

.artista {
    font-size: 17px;
    font-weight: 300;
    width: 150px;
    height: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 0px;
    margin-bottom: 20px;
}